.listing-section {
    background:#FEAD3A;
    background-image: url("../../../public/generalBackground.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%;
    float: left;
    padding-bottom: 538px;
  }