.hidden{
    visibility: hidden;
}

.error-box {
    background-color: yellowgreen;
    color: black;
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 13%;

    word-wrap: break-word;
    position: fixed;
    top: 10%;
    left: 2%;
    font-size: larger;
  }
  
  